body{
    background-image: linear-gradient(to bottom, orange, yellow);

}
.contact-page{
    height: 100vh;
    padding-top: 80px;
    @media screen and (max-width: 39.9375em) {
        .contact-us{
            text-align: center;
        }
    }
    form{
        @media screen and (min-width: 40em){
            label{
                padding-right: 50px;
            }
        }
        @media screen and (max-width: 39.9375em) {
            .button{
                display: block;
            }
        }
    }
}