.padding-preFooter{
    padding-top: 32px;
    padding-bottom: 32px;
    .up-arrow{
        font-size: 18px;
        padding-right: 15px;
        color: red;
    }
    .custom-label{
        display: inline;
    }
    .custuom-select{
        width: 50%;
    }
}
